.back {
  display: block;
  width: 4rem;
  height: 4rem;

  border: 0.1rem solid #d2cfdf;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s linear;
}

.back:hover{
  background-color: #d2cfdf;
}

.back__icon {
  width: 1.2rem;
}
