.option-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.9rem 1.6rem;

  border: 0.1rem solid #d2cfdf;
  border-radius: 1rem;
}

.option-card--checked {
  border: 0.1rem solid #31728d;
}

.option-card__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.option-card__content-image {
  height: 3rem;
  width: 3rem;
}

.option-card__content-title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 120%;
}

.option-card__checkbox {
  appearance: none;
  width: 1.9rem;
  height: 1.9rem;
  border: 0.1rem solid #d2cfdf;
  border-radius: 0.2rem;

  cursor: pointer;
}

.option-card__checkbox:checked {
  border: 0.1rem solid #31728d;
  background-color: #31728d;
  background-image: url("/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
