.progress-bar{
  height: 0.5rem;
  background-color: #E8E6EF;
  border-radius: 1rem;
  position: relative;
}

.progress-bar::after{
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 20%;
  z-index: 1;
  background-color: #31728D;
  border-radius: 1rem;
}